#cover{
    width: 1800px;
    margin: -25px auto 0 auto;
    position:relative;
    z-index: 2000;
}
#select-city{
    margin: 0;
    width: 100%;
    height: 100px;
}
select{
    font-size: 18px;
    font-weight: bold;
    font-family: "Microsoft YaHei";
    text-align: center;
    width: auto;
    height: 40px;
    padding: 0 40px;
}
select option{
    text-align: center;
}
#administrative{
    margin-left: 145px;
}
#market,#year,#month,#result{
    margin-left: 90px;
}
#submit{
    font-size: 18px;
    font-weight: bold;
    font-family: "Microsoft YaHei";
    width: 155px;
    height: 40px;
    margin-left: 110px;
}
#table{
    height:640px;
    margin: 0 auto;
    position: relative;
    overflow-y:auto;
}
#table-title{
	width: 1530px;
    margin: 0 auto 0 137px;
    background: #293954;
}
#table-title th{
    width: 190px;
    height: 40px;
    font-size:18px;
    font-family: "Microsoft YaHei";
    color: #FFFFFF;
    border: 1px solid #bebebe;
}
#table-data{
    position: relative;
    z-index: 1000;
    border: none;
    margin-left: 134px;
}
#table-data td{
    width: 190px;
    height: 40px;
    font-size:18px;
    font-family: "Microsoft YaHei";
    color: #060606;
    border: 1px solid #bebebe;
    text-align: center;
}
.background-b{
    background: #c9d8ef;
}
.background-w{
    background: #FFFFFF;
}
#view-infor{
    position: fixed;
    width:500px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    background: #293954;
    z-index: 2000;
    border: 1px solid #FFFFFF;
    display: block;
}
#view-infor p{
    margin: 25px 30px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Microsoft YaHei";
}
#view-infor img{
    position: absolute;
    top: 5px;
    right: 5px;
}